
h1 {
  color: #1B4F72;
  font-family:  'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

   
body {
  background: linear-gradient(90deg, rgba(5, 177, 177, 0.691), rgba(255, 206, 156, 0.75), rgba(218, 165, 32, 0.75));
}



  
  